body{
	height: 500px !important;
    width: 90%;
    margin: 0 auto;
}
.ht{
	height: 300px;
}
.my-img{
	height: 185px;
	width: 150px;
	/*border-radius: 50%;*/
}
.list-group-item{
	background-color: transparent; !important;
}
#list-home{
    position: relative;
}
..tab-pane {
	height: auto !important;
}
.tab-pane , .active{
	background-color: #FF8800  !important;
	border: 0;
}
.active{
    color: #fff !important;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-right{
	border-bottom: 1px solid #ddd;
}
/* Personal info */
.personal-info {
	color: #fff !important;
	width:400px;
	min-height:230px;
}
.personal-info li {
	font-size:14px;
	margin-bottom:10px;
	overflow: hidden;
	padding-left: 5px !important;
}
.personal-info li label {
	font-weight:600;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.personal-info li span {
	float:right;
	width:220px;
	padding-top: 4px;
	font-weight: 300;
}
.table-wrapper-2 {
    display: block;
    max-height: 300px;
    /*overflow-x: hidden;*/
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.h1:hover{
    color: #263238 !important;
}
/*-------------------------------------------------------*/

/*copy css*/
.timeline{
    list-style: none;
    padding: 0;
	margin: 0;
    position: relative;
}

.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19);
}

.timeline > li{
    margin-top: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:first-of-type{
	margin-top: 0 !important;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline > li:before,
.timeline > li:after{
    content:" ";
    display: table;
}

.timeline > li:after{
    clear: both;
}

.timeline-panel{
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    padding: 13px;
    position: relative;
}

.timeline-panel:before{
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 15px solid transparent;
    content:" ";
}

.timeline-panel:after{
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}

.timeline-badge{
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}

.timeline > li.timeline-inverted > .timeline-panel{
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before{
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li.timeline-inverted{
    float: right;
    clear: right;
}

.timeline > li:nth-of-type(2){
    margin-top: 50px;
}

.timeline > li.timeline-inverted > .timeline-badge{
    left: -12px;
}

.no-float {
    float: none !important;
}

.timeline-title{
	font-size: 20px;
	font-weight: 500;
}

.timeline-tag{
	font-size: 13px;
	font-weight: 500;
	padding: 3px 0;
	color: #666666;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.timeline-desc{
	padding-bottom: 8px;
}

.timeline-time{
	display: inline-block;
	padding: 0 15px;
	color: #ffffff;
	margin-top: 10px;
	font-size: 13px;
	position: relative;
}

/* --
 07. resume-area css hear 
---------------------------------- */

.resume-area {
  padding: 30px 0;
}
.resume-area .single-resume-item {
  overflow: hidden;
  padding-bottom: 30px;
}
.single-resume-item {
  position: relative;
}
.single-resume-item .timeline-marker {
  left: 50%;
  margin-left: -7.5px;
  position: absolute;
}
.resume-left-item > h2 {
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 24px;
}
.resume-left-item > p {
  color: #999999;
  font-size: 14px;
  letter-spacing: 1px;
}
.resume-right-item > h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
}
.resume-right-item > p {
  margin-bottom: 0;
}
.timeline-marker::after {
  background: #ccd5db none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  left: 4px;
  position: absolute;
  top: 24px;
  width: 2px;
}
.timeline-marker::before {
  background: #fff none repeat scroll 0 0;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 4px;
  transition: background 0.3s ease-in-out 0s, border 0.3s ease-in-out 0s;
  width: 10px;
}
.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
        border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
}
.resume-left-item, .resume-right-item {
  width: 50%;
}
.single-resume-item.single-resume-item.single-resume-item .resume-left-item {
  float: left;
  padding-right: 30px;
  text-align: right;
}
.single-resume-item.single-resume-item.single-resume-item .resume-right-item {
  float: right;
  padding-left: 30px;
  text-align: left;
}
.btn{
    text-align: center !important;
}
/* --



/*copy css*/

.mt{
    margin-top: 80px;
}
#list-profile .mt{
    margin-top: 50px !important;
}

 .main-h2{
    position: fixed;
    background-color: transparent;
    left: 54%;
    transform: translate(-40%,0);
    width: 60%;
    z-index: 4000;
    margin-bottom: 50px;
}
 .main-h2-scrolled{
    background-color: rgba(0,0,0,0.4);
    border: none !important;
}

/* portfolio */
#portfolio figure {
  position: relative;
  overflow: hidden;
}

#portfolio figure figcaption {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#portfolio figure:hover figcaption {
  top: 0;
}

/**/

/** service-section **/

.service-section{
  position: relative;
}
.service-section .single-item{
  position: relative;
  transition: all 500ms ease;
}
.service-section .single-item img{
  width: 100%;
}
.service-section .single-item .lower-content{
  position: relative;
  padding: 0px 42px 8px 42px;
  border: 1px solid #e5e5e5;
  transition: all 500ms ease;
}
.service-section .single-item:hover .lower-content{
  border: 1px solid #fff;
  transition: all 500ms ease;
}
.service-section .single-item .lower-content .icon-box{
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 95px;
  background: #4ecd66;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 42px;
}
.service-section .single-item .lower-content .icon-box i:before{
  font-size: 36px;
  color: #fff;
  margin: 0px;
}
.service-section .single-item .button{
  position: relative;
  top: 31px;
}
.service-section .single-item .button a{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #222;
  padding: 10px 27px 9px 27px;
}
.service-section .single-item:hover .button a{
  background: #4ecd66;
  border: 1px solid #4ecd66;
  color: #fff;
}
.service-section .single-item:hover{
  box-shadow: 0 0 10px 5px #ebebeb;
  transition: all 500ms ease;
}
.service-section .section-title h2{
  margin-bottom: 68px;
}
.service-section .single-item .lower-content h3{
  margin-bottom: 15px;
}

#list-contact .active{
    background-color: transparent !important;
}
#list-profile .active{
    background-color: transparent !important;
}

/**/
footer div small{
	text-align: center !important;
}
@media (max-width: 768px) {
	.mid{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	}
    .main-h2{
    position: static !important;
    width: 100% !important; }
}

@media (min-width: 576px){
    html{
    width: 80%;
    margin: 3% auto; 
   }

}
@media (min-width: 768px){
	html{
	width: 95%;
	margin: 3% auto;
    
   }
}

